## INSTRUÇÃO PRÁTICA - IP-P007

##### Exercício 1: Carregando e analisando um DataSet.

1. Baixe os dados de 2003, 2013 e 2023 e escolha um estação para a qual existam
dados nestes três anos. Veja que o arquivo .zip que é disponibilizado para cada
ano, contem os dados de cada estação em arquivos csv separados. Converse
com as outras equipes para ninguém pegar a mesma estação.

2. Carregue os dados das três estações em DataFrame s separados e analise a
estrutura dos mesmos utilizando o método head() .

In [20]:
import pandas as pd
    
Mc_2003 = pd.read_csv('dataset/montesclaros2003.CSV', encoding='latin1', decimal='.', sep=';', header=8)
Mc_2013 = pd.read_csv('dataset/montesclaros2013.CSV', encoding='latin1', decimal='.', sep=';', header=8)
Mc_2023 = pd.read_csv('dataset/montesclaros2023.CSV', encoding='latin1', decimal='.', sep=';', header=8)

In [ ]:
Mc_2003.head()

In [ ]:
Mc_2013.head()

In [ ]:
Mc_2023.head()

### Exercício 2: Juntando os datasets Com base nos datasets carregados na forma de Dataframes

1. Construa um novo DataFrame juntando os mesmos e utilizando um
MultiIndex como índice formado pelos os anos, os messes de cada ano e os
dias de cada mes.
2. Construa um novo DataFrame modificando o anterior para utiliza um
MultiIndex como colunas contendo os parâmetros agrupados (precipitações,
pressão, radiação, temperatura, umidade, velocidade do vento)

In [ ]:
Mc_2023.rename(columns={'Data' : 'DATA (YYYY-MM-DD)'})

In [11]:
dataf = pd.concat([Mc_2003, Mc_2013, Mc_2023], keys=['2003', '2013', '2023'])

In [17]:
dataf ['DATA'] = pd.to_datetime(dataf['DATA (YYYY-MM-DD)'])
dataf.set_index(['DATA'], inplace=True)
dataf.sort_index(inplace=True)
dataf ['Ano'] = dataf.index.year
dataf ['Mes'] = dataf.index.month
dataf ['Dia'] = dataf.index.day
dataf.set_index(['Ano', 'Mes', 'Dia'], inplace=True)
dataf

                 DATA (YYYY-MM-DD) HORA (UTC)  \
Ano    Mes  Dia
2003.0 1.0  1.0         2003-01-01      00:00
            1.0         2003-01-01      11:00
            1.0         2003-01-01      01:00
            1.0         2003-01-01      02:00
            1.0         2003-01-01      03:00
...                            ...        ...
NaN    NaN  NaN                NaN        NaN
            NaN                NaN        NaN
            NaN                NaN        NaN
            NaN                NaN        NaN
            NaN                NaN        NaN

                 PRECIPITAÇÃO TOTAL, HORÁRIO (mm)  \
Ano    Mes  Dia
2003.0 1.0  1.0                                 0
            1.0                                 0
            1.0                                 0
            1.0                                 0
            1.0                                 0
...                                           ...
NaN    NaN  NaN                                 0
            NaN                                 0
            NaN                                 0
            NaN                                 0
            NaN                                 0

                 PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)  \
Ano    Mes  Dia
2003.0 1.0  1.0                                               940,8
            1.0                                               941,1
            1.0                                               941,2
            1.0                                               940,9
            1.0                                               940,4
...                                                             ...
NaN    NaN  NaN                                               938,6
            NaN                                               937,9
            NaN                                               937,9
            NaN                                               938,2
            NaN                                                 939

                 PRESSÃO ATMOSFERICA MAX.NA HORA ANT. (AUT) (mB)  \
Ano    Mes  Dia
2003.0 1.0  1.0                                            940,8
            1.0                                            941,2
            1.0                                            941,3
            1.0                                            941,4
            1.0                                              941
...                                                          ...
NaN    NaN  NaN                                            939,7
            NaN                                            938,6
            NaN                                            937,9
            NaN                                            938,2
            NaN                                              939

                 PRESSÃO ATMOSFERICA MIN. NA HORA ANT. (AUT) (mB)  \
Ano    Mes  Dia
2003.0 1.0  1.0                                               940
            1.0                                             940,7
            1.0                                             940,8
            1.0                                             940,9
            1.0                                             940,4
...                                                           ...
NaN    NaN  NaN                                             938,6
            NaN                                             937,9
            NaN                                             937,8
            NaN                                             937,9
            NaN                                             938,2

                 RADIACAO GLOBAL (KJ/m²)  \
Ano    Mes  Dia
2003.0 1.0  1.0                    -9999
            1.0                    15614
            1.0                    -9999
            1.0                    -9999
            1.0                    -9999
...                                  ...
NaN    NaN  NaN                      NaN
            NaN                      NaN
            NaN                      NaN
            NaN                      NaN
            NaN                      NaN

                 TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)  \
Ano    Mes  Dia
2003.0 1.0  1.0                                          22,3
            1.0                                            24
            1.0                                          21,6
            1.0                                          21,6
            1.0                                          21,3
...                                                       ...
NaN    NaN  NaN                                          27,6
            NaN                                          27,2
            NaN                                          27,1
            NaN                                          24,9
            NaN                                          23,7

                 TEMPERATURA DO PONTO DE ORVALHO (°C)  \
Ano    Mes  Dia
2003.0 1.0  1.0                                  21,5
            1.0                                  20,9
            1.0                                  20,9
            1.0                                    21
            1.0                                  20,7
...                                               ...
NaN    NaN  NaN                                  17,4
            NaN                                  17,6
            NaN                                  17,4
            NaN                                  17,7
            NaN                                  18,3

                 TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C)  ...  \
Ano    Mes  Dia                                              ...
2003.0 1.0  1.0                                        22,9  ...
            1.0                                          24  ...
            1.0                                        22,3  ...
            1.0                                        21,8  ...
            1.0                                        21,6  ...
...                                                     ...  ...
NaN    NaN  NaN                                        28,1  ...
            NaN                                        27,9  ...
            NaN                                        27,2  ...
            NaN                                        27,1  ...
            NaN                                        25,2  ...

                 UMIDADE REL. MAX. NA HORA ANT. (AUT) (%)  \
Ano    Mes  Dia
2003.0 1.0  1.0                                        95
            1.0                                        94
            1.0                                        96
            1.0                                        96
            1.0                                        97
...                                                   ...
NaN    NaN  NaN                                        63
            NaN                                        56
            NaN                                        59
            NaN                                        67
            NaN                                        73

                 UMIDADE REL. MIN. NA HORA ANT. (AUT) (%)  \
Ano    Mes  Dia
2003.0 1.0  1.0                                        92
            1.0                                        82
            1.0                                        95
            1.0                                        96
            1.0                                        96
...                                                   ...
NaN    NaN  NaN                                        53
            NaN                                        52
            NaN                                        53
            NaN                                        55
            NaN                                        61

                 UMIDADE RELATIVA DO AR, HORARIA (%)  \
Ano    Mes  Dia
2003.0 1.0  1.0                                   95
            1.0                                   83
            1.0                                   96
            1.0                                   96
            1.0                                   96
...                                              ...
NaN    NaN  NaN                                   54
            NaN                                   56
            NaN                                   55
            NaN                                   64
            NaN                                   72

                  VENTO, DIREÇÃO HORARIA (gr) (° (gr))  \
Ano    Mes  Dia
2003.0 1.0  1.0                                    299
            1.0                                    177
            1.0                                    345
            1.0                                    221
            1.0                                    224
...                                                ...
NaN    NaN  NaN                                     77
            NaN                                     64
            NaN                                     70
            NaN                                    259
            NaN                                    304

                  VENTO, RAJADA MAXIMA (m/s)  VENTO, VELOCIDADE HORARIA (m/s)  \
Ano    Mes  Dia
2003.0 1.0  1.0                          1,8                                0
            1.0                          2,1                                1
            1.0                          2,4                              1,9
            1.0                          2,4                               ,7
            1.0                          2,4                                2
...                                      ...                              ...
NaN    NaN  NaN                          3,5                              1,6
            NaN                            5                              1,6
            NaN                          2,6                              1,1
            NaN                            2                                0
            NaN                          2,3                              1,6

                  Unnamed: 19        Data  Hora UTC  RADIACAO GLOBAL (Kj/m²)
Ano    Mes  Dia
2003.0 1.0  1.0           NaN         NaN       NaN                      NaN
            1.0           NaN         NaN       NaN                      NaN
            1.0           NaN         NaN       NaN                      NaN
            1.0           NaN         NaN       NaN                      NaN
            1.0           NaN         NaN       NaN                      NaN
...                       ...         ...       ...                      ...
NaN    NaN  NaN           NaN  2023/12/31  1900 UTC                   2027,1
            NaN           NaN  2023/12/31  2000 UTC                   1397,9
            NaN           NaN  2023/12/31  2100 UTC                    462,9
            NaN           NaN  2023/12/31  2200 UTC                     69,1
            NaN           NaN  2023/12/31  2300 UTC                      NaN

[26280 rows x 23 columns]

#### Exercício 3: Analisando os DataFrame com base nos três DataFrame carregados:

1. Analisando as colunas relacionadas e precipitações e temperaturas, compare as
médias, os valores mínimos e máximos em cada um dos anos.
2. Compare os mesmos dados do exercício anterior mas para o mes de Janeiro de
cada um dos três anos.
3. Considere uma aproximação para as estações do ano no brasil dada por: Verão
(Janeiro, Fevereiro e Março), Outono (Abril, Maio e Junho), Inverno (Julho, Agosto e
Setembro) Primavera (Outubro, Novembro e Dezembro). Compare as informações
sobre temperatura e precipitações medias em cada uma das estações dos três
anos.
4. Repare que os dados de cada estação são monitorando de hora em hora. Considere
os intervalos de um dia como sendo: Madrugada (00:00 a 06:00), Manha (06:00 a
12:00), Tarde (12:00 a 18:00) e Noite (18:00 a 00:00). Compare as informações sobre
temperatura e precipitações medias para o dia 28 de setembro em cada um dos
intervalos do dia dos três anos.

In [26]:
dataf.columns = dataf.columns.str.replace(' ', '_')

In [ ]:

summary_stats = dataf.groupby('Ano').agg({
    'PRECIPITAÇÃO TOTAL, HORÁRIO (mm)': ['mean', 'min', 'max'],
    'TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)': ['mean', 'min', 'max']
})