## INSTRUÇÃO PRÁTICA - IP-P007

##### Exercício 1: Carregando e analisando um DataSet.

1. Baixe os dados de 2003, 2013 e 2023 e escolha um estação para a qual existam
dados nestes três anos. Veja que o arquivo .zip que é disponibilizado para cada
ano, contem os dados de cada estação em arquivos csv separados. Converse
com as outras equipes para ninguém pegar a mesma estação.

2. Carregue os dados das três estações em DataFrame s separados e analise a
estrutura dos mesmos utilizando o método head() .

In [5]:
import pandas as pd
    
Mc_2003 = pd.read_csv('dataset/montesclaros2003.CSV', encoding='latin1', decimal='.', sep=';', header=8)
Mc_2013 = pd.read_csv('dataset/montesclaros2013.CSV', encoding='latin1', decimal='.', sep=';', header=8)
Mc_2023 = pd.read_csv('dataset/montesclaros2023.CSV', encoding='latin1', decimal='.', sep=';', header=8)

In [ ]:
Mc_2003.head()

In [ ]:
Mc_2013.head()

In [ ]:
Mc_2023.head()

### Exercício 2: Juntando os datasets Com base nos datasets carregados na forma de Dataframes

1. Construa um novo DataFrame juntando os mesmos e utilizando um
MultiIndex como índice formado pelos os anos, os messes de cada ano e os
dias de cada mes.
2. Construa um novo DataFrame modificando o anterior para utiliza um
MultiIndex como colunas contendo os parâmetros agrupados (precipitações,
pressão, radiação, temperatura, umidade, velocidade do vento)

In [19]:
Mc_2023.rename(columns={'Data' : 'DATA (YYYY-MM-DD)'})

,DATA (YYYY-MM-DD),Hora UTC,"PRECIPITAÇÃO TOTAL, HORÁRIO (mm)","PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)",PRESSÃO ATMOSFERICA MAX.NA HORA ANT. (AUT) (mB),PRESSÃO ATMOSFERICA MIN. NA HORA ANT. (AUT) (mB),RADIACAO GLOBAL (Kj/m²),"TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)",TEMPERATURA DO PONTO DE ORVALHO (°C),TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C),TEMPERATURA MÍNIMA NA HORA ANT. (AUT) (°C),TEMPERATURA ORVALHO MAX. NA HORA ANT. (AUT) (°C),TEMPERATURA ORVALHO MIN. NA HORA ANT. (AUT) (°C),UMIDADE REL. MAX. NA HORA ANT. (AUT) (%),UMIDADE REL. MIN. NA HORA ANT. (AUT) (%),"UMIDADE RELATIVA DO AR, HORARIA (%)","VENTO, DIREÇÃO HORARIA (gr) (° (gr))","VENTO, RAJADA MAXIMA (m/s)","VENTO, VELOCIDADE HORARIA (m/s)",Unnamed: 19
0,2023/01/01,0000 UTC,0,"941,6","941,7","940,8",NaN,"23,6","14,9","25,3","23,5","16,3","14,7",63,52,58,321,"2,3",",6",NaN
1,2023/01/01,0100 UTC,0,"942,2","942,2","941,6",NaN,"22,1","16,3","23,8","22,1","16,3","14,3",70,56,70,301,"1,9",",4",NaN
2,2023/01/01,0200 UTC,0,"942,2","942,3","942,1",NaN,"21,4","15,5","22,2","21,2","16,4","15,4",71,68,69,290,"2,2","1,5",NaN
3,2023/01/01,0300 UTC,0,"941,6","942,2","941,6",NaN,"20,4","15,4","21,6","20,4","15,5","14,5",73,65,73,64,"2,1","1,3",NaN
4,2023/01/01,0400 UTC,0,"941,4","941,7","941,4",NaN,"21,6","15,6","21,7","20,3","15,9","15,4",74,67,69,240,"2,1",",2",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,2023/12/31,1900 UTC,0,"938,6","939,7","938,6","2027,1","27,6","17,4","28,1",26,"19,4","17,4",63,53,54,77,"3,5","1,6",NaN
8756,2023/12/31,2000 UTC,0,"937,9","938,6","937,9","1397,9","27,2","17,6","27,9","27,2","18,1","16,8",56,52,56,64,5,"1,6",NaN
8757,2023/12/31,2100 UTC,0,"937,9","937,9","937,8","462,9","27,1","17,4","27,2","26,6","18,1","16,9",59,53,55,70,"2,6","1,1",NaN
8758,2023/12/31,2200 UTC,0,"938,2","938,2","937,9","69,1","24,9","17,7","27,1","24,9","18,9",17,67,55,64,259,2,0,NaN
8759,2023/12/31,2300 UTC,0,939,939,"938,2",NaN,"23,7","18,3","25,2","23,7",19,"17,1",73,61,72,304,"2,3","1,6",NaN

In [20]:
dataf = pd.concat([Mc_2003, Mc_2013, Mc_2023])

In [21]:
dataf ['DATA'] = pd.to_datetime(dataf['DATA (YYYY-MM-DD)'])
dataf.set_index(['DATA'], inplace=True)
dataf.sort_index(inplace=True)
dataf ['Ano'] = dataf.index.year
dataf ['Mes'] = dataf.index.month
dataf ['Dia'] = dataf.index.day
dataf.set_index(['Ano', 'Mes', 'Dia'], inplace=True)
dataf

                 DATA (YYYY-MM-DD) HORA (UTC)  \
Ano    Mes  Dia
2003.0 1.0  1.0         2003-01-01      00:00
            1.0         2003-01-01      23:00
            1.0         2003-01-01      22:00
            1.0         2003-01-01      21:00
            1.0         2003-01-01      20:00
...                            ...        ...
NaN    NaN  NaN                NaN        NaN
            NaN                NaN        NaN
            NaN                NaN        NaN
            NaN                NaN        NaN
            NaN                NaN        NaN

                 PRECIPITAÇÃO TOTAL, HORÁRIO (mm)  \
Ano    Mes  Dia
2003.0 1.0  1.0                                 0
            1.0                                 0
            1.0                                 0
            1.0                               1,2
            1.0                                 1
...                                           ...
NaN    NaN  NaN                                 0
            NaN                                 0
            NaN                                 0
            NaN                                 0
            NaN                                 0

                 PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)  \
Ano    Mes  Dia
2003.0 1.0  1.0                                               940,8
            1.0                                               940,1
            1.0                                               939,1
            1.0                                               938,5
            1.0                                                 938
...                                                             ...
NaN    NaN  NaN                                               938,6
            NaN                                               937,9
            NaN                                               937,9
            NaN                                               938,2
            NaN                                                 939

                 PRESSÃO ATMOSFERICA MAX.NA HORA ANT. (AUT) (mB)  \
Ano    Mes  Dia
2003.0 1.0  1.0                                            940,8
            1.0                                            940,1
            1.0                                            939,2
            1.0                                            938,6
            1.0                                            938,2
...                                                          ...
NaN    NaN  NaN                                            939,7
            NaN                                            938,6
            NaN                                            937,9
            NaN                                            938,2
            NaN                                              939

                 PRESSÃO ATMOSFERICA MIN. NA HORA ANT. (AUT) (mB)  \
Ano    Mes  Dia
2003.0 1.0  1.0                                               940
            1.0                                             939,1
            1.0                                             938,5
            1.0                                               938
            1.0                                             937,7
...                                                           ...
NaN    NaN  NaN                                             938,6
            NaN                                             937,9
            NaN                                             937,8
            NaN                                             937,9
            NaN                                             938,2

                 RADIACAO GLOBAL (KJ/m²)  \
Ano    Mes  Dia
2003.0 1.0  1.0                    -9999
            1.0                    -9999
            1.0                      151
            1.0                      843
            1.0                      942
...                                  ...
NaN    NaN  NaN                      NaN
            NaN                      NaN
            NaN                      NaN
            NaN                      NaN
            NaN                      NaN

                 TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)  \
Ano    Mes  Dia
2003.0 1.0  1.0                                          22,3
            1.0                                          22,1
            1.0                                          22,6
            1.0                                          22,8
            1.0                                            23
...                                                       ...
NaN    NaN  NaN                                          27,6
            NaN                                          27,2
            NaN                                          27,1
            NaN                                          24,9
            NaN                                          23,7

                 TEMPERATURA DO PONTO DE ORVALHO (°C)  \
Ano    Mes  Dia
2003.0 1.0  1.0                                  21,5
            1.0                                  21,3
            1.0                                  21,5
            1.0                                  21,6
            1.0                                  21,6
...                                               ...
NaN    NaN  NaN                                  17,4
            NaN                                  17,6
            NaN                                  17,4
            NaN                                  17,7
            NaN                                  18,3

                 TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C)  ...  \
Ano    Mes  Dia                                              ...
2003.0 1.0  1.0                                        22,9  ...
            1.0                                        22,6  ...
            1.0                                        22,8  ...
            1.0                                          23  ...
            1.0                                        23,2  ...
...                                                     ...  ...
NaN    NaN  NaN                                        28,1  ...
            NaN                                        27,9  ...
            NaN                                        27,2  ...
            NaN                                        27,1  ...
            NaN                                        25,2  ...

                 UMIDADE REL. MAX. NA HORA ANT. (AUT) (%)  \
Ano    Mes  Dia
2003.0 1.0  1.0                                        95
            1.0                                        95
            1.0                                        95
            1.0                                        94
            1.0                                        92
...                                                   ...
NaN    NaN  NaN                                        63
            NaN                                        56
            NaN                                        59
            NaN                                        67
            NaN                                        73

                 UMIDADE REL. MIN. NA HORA ANT. (AUT) (%)  \
Ano    Mes  Dia
2003.0 1.0  1.0                                        92
            1.0                                        93
            1.0                                        93
            1.0                                        89
            1.0                                        88
...                                                   ...
NaN    NaN  NaN                                        53
            NaN                                        52
            NaN                                        53
            NaN                                        55
            NaN                                        61

                 UMIDADE RELATIVA DO AR, HORARIA (%)  \
Ano    Mes  Dia
2003.0 1.0  1.0                                   95
            1.0                                   95
            1.0                                   94
            1.0                                   93
            1.0                                   92
...                                              ...
NaN    NaN  NaN                                   54
            NaN                                   56
            NaN                                   55
            NaN                                   64
            NaN                                   72

                  VENTO, DIREÇÃO HORARIA (gr) (° (gr))  \
Ano    Mes  Dia
2003.0 1.0  1.0                                    299
            1.0                                    318
            1.0                                    195
            1.0                                    300
            1.0                                    130
...                                                ...
NaN    NaN  NaN                                     77
            NaN                                     64
            NaN                                     70
            NaN                                    259
            NaN                                    304

                  VENTO, RAJADA MAXIMA (m/s)  VENTO, VELOCIDADE HORARIA (m/s)  \
Ano    Mes  Dia
2003.0 1.0  1.0                          1,8                                0
            1.0                          2,6                              1,1
            1.0                          2,2                               ,8
            1.0                          2,3                                0
            1.0                          2,9                              1,2
...                                      ...                              ...
NaN    NaN  NaN                          3,5                              1,6
            NaN                            5                              1,6
            NaN                          2,6                              1,1
            NaN                            2                                0
            NaN                          2,3                              1,6

                  Unnamed: 19        Data  Hora UTC  RADIACAO GLOBAL (Kj/m²)
Ano    Mes  Dia
2003.0 1.0  1.0           NaN         NaN       NaN                      NaN
            1.0           NaN         NaN       NaN                      NaN
            1.0           NaN         NaN       NaN                      NaN
            1.0           NaN         NaN       NaN                      NaN
            1.0           NaN         NaN       NaN                      NaN
...                       ...         ...       ...                      ...
NaN    NaN  NaN           NaN  2023/12/31  1900 UTC                   2027,1
            NaN           NaN  2023/12/31  2000 UTC                   1397,9
            NaN           NaN  2023/12/31  2100 UTC                    462,9
            NaN           NaN  2023/12/31  2200 UTC                     69,1
            NaN           NaN  2023/12/31  2300 UTC                      NaN

[26280 rows x 23 columns]