## OBJETIVOS DA ATIVIDADE
#### Trabalhar com Pandas e suas funcionalidades e características básicas. Aplicar os recursos e funcionalidades básicas para operar com tabelas de dados em Pandas.

### Exercício 1: Criando um conjunto de dados

In [3]:
# Importa a biblioteca Pandas
import pandas as pd

# Cria as listas com as informações coletadas
identificador = ["tic18Py02594", "tic18Py04790", "tic18Py06298", "tic18Py02393", "tic18Py04189"]
idade = [29, 33, 25, 30, 35]
formação = [3, 3, 2, 2, 3]
formaçãoGeral = [1, 1, 0, 0, 1]
formaçãoEspecífica = ["Análise e desenvolvimento de sistemas", "Análise e desenvolvimento de sistemas", "Engenharia Mecânica", "Engenharia Mecânica", "Análise e desenvolvimento de sistemas"]
andamentoGraduação = [100.0, 100.0, 90.0, 80.0, 100.0]
tempoFormação = [4, 2, None, None, 4]
experiênciaPrevia = [True, False, False, False, False]

# Cria o DataFrame
df = pd.DataFrame({
    "identificador": identificador,
    "idade": idade,
    "formação": formação,
    "formaçãoGeral": formaçãoGeral,
    "formaçãoEspecífica": formaçãoEspecífica,
    "andamentoGraduação": andamentoGraduação,
    "tempoFormação": tempoFormação,
    "experiênciaPrevia": experiênciaPrevia
})

# Exibe as primeiras linhas do DataFrame
df.head()

,identificador,idade,formação,formaçãoGeral,formaçãoEspecífica,andamentoGraduação,tempoFormação,experiênciaPrevia
0,tic18Py02594,29,3,1,Análise e desenvolvimento de sistemas,100.0,4.0,True
1,tic18Py04790,33,3,1,Análise e desenvolvimento de sistemas,100.0,2.0,False
2,tic18Py06298,25,2,0,Engenharia Mecânica,90.0,NaN,False
3,tic18Py02393,30,2,0,Engenharia Mecânica,80.0,NaN,False
4,tic18Py04189,35,3,1,Análise e desenvolvimento de sistemas,100.0,4.0,False

### Exercício 2: Trabalhando com Series

In [4]:
import numpy as np
import pandas as pd

# Cria um objeto Index utilizando a lista de identificador
identificador_index = pd.Index(identificador)

# Cria as Series com as informações coletadas
idade_series = pd.Series(idade, index=identificador_index, name='idade')
formacao_series = pd.Series(formação, index=identificador_index, name='formação')
formacaoGeral_series = pd.Series(formaçãoGeral, index=identificador_index, name='formaçãoGeral')
andamentoGraduacao_series = pd.Series(andamentoGraduação, index=identificador_index, name='andamentoGraduação')
tempoFormacao_series = pd.Series(tempoFormação, index=identificador_index, name='tempoFormação')
experienciaPrevia_series = pd.Series(experiênciaPrevia, index=identificador_index, name='experiênciaPrevia')

# Imprime a idade média dos membros da equipe
print(f"Idade média dos membros da equipe: {idade_series.mean():.2f} anos")

# Imprime os membros mais jovens
print(f"Membros mais jovens: {idade_series.idxmin()}")

# Imprime os membros mais velhos
print(f"Membros mais velhos: {idade_series.idxmax()}")

# Imprime o perfil de formação dos membros da equipe
print("")
print("Perfil de formação dos membros da equipe:")
print(formacao_series.value_counts())

# Imprime o perfil de formação geral dos membros da equipe
perfil_formacao_geral = formacaoGeral_series.map({0: 'Engenheiro', 1: 'Computação'})
print("")
print("Perfil de formação geral dos membros da equipe:")
print(perfil_formacao_geral.value_counts())

Idade média dos membros da equipe: 30.40 anos
Membros mais jovens: tic18Py06298
Membros mais velhos: tic18Py04189

Perfil de formação dos membros da equipe:
formação
3    3
2    2
Name: count, dtype: int64

Perfil de formação geral dos membros da equipe:
formaçãoGeral
Computação    3
Engenheiro    2
Name: count, dtype: int64

### Exercício 3: Trabalhando com DataFrames

In [6]:
# Criar DataFrame
df_info = pd.DataFrame({
    "idade": idade_series,
    "formação": formacao_series,
    "formaçãoGeral": formacaoGeral_series,
    "andamentoGraduação": andamentoGraduacao_series,
    "tempoFormação": tempoFormacao_series,
    "experiênciaPrevia": experienciaPrevia_series
})

# Idade média, membros mais jovens e mais velhos
idade_media_df = df_info['idade'].mean()
membros_mais_jovens_df = df_info['idade'].idxmin()
membros_mais_velhos_df = df_info['idade'].idxmax()

print(f"Idade média dos membros da equipe : {idade_media_df:.2f} anos")
print(f"Membros mais jovens : {membros_mais_jovens_df}")
print(f"Membros mais velhos : {membros_mais_velhos_df}")

# Perfil de formação
perfil_formacao_df = df_info['formação'].value_counts()

print("")
print("Perfil de formação dos membros da equipe: ")
print(perfil_formacao_df)

# Perfil de formação geral
perfil_formacao_geral_df = df_info['formaçãoGeral'].map({0: 'Engenheiro', 1: 'Computação'}).value_counts()

print("")
print("Perfil de formação geral dos membros da equipe: ")
print(perfil_formacao_geral_df)


# Verificar os rótulos únicos na coluna de formação específica
rotulos_unicos = df['formaçãoEspecífica'].unique()

# Exibir os rótulos únicos 
print("")
print("Rótulos únicos na coluna 'formaçãoEspecífica':")
print(rotulos_unicos)


# Adicionar a coluna 'formaçãoEspecífica' ao DataFrame df_info
df_info['formaçãoEspecífica'] = formaçãoEspecífica

# Estratégia para tratar a coluna 'formaçãoEspecífica'
categorias_formacao_especifica = {
    'Análise e desenvolvimento de sistemas': 'Computação',
    'Engenharia Mecânica': 'Engenheiro'
    # Adicione mais mapeamentos conforme necessário
}

# Aplicar mapeamento aos dados
df_info['formaçãoEspecífica'] = df_info['formaçãoEspecífica'].map(categorias_formacao_especifica)

# Exibir o DataFrame atualizado
df_info.head()

Idade média dos membros da equipe : 30.40 anos
Membros mais jovens : tic18Py06298
Membros mais velhos : tic18Py04189

Perfil de formação dos membros da equipe:
formação
3    3
2    2
Name: count, dtype: int64

Perfil de formação geral dos membros da equipe:
formaçãoGeral
Computação    3
Engenheiro    2
Name: count, dtype: int64

Rótulos únicos na coluna 'formaçãoEspecífica':
['Análise e desenvolvimento de sistemas' 'Engenharia Mecânica']

,idade,formação,formaçãoGeral,andamentoGraduação,tempoFormação,experiênciaPrevia,formaçãoEspecífica
tic18Py02594,29,3,1,100.0,4.0,True,Computação
tic18Py04790,33,3,1,100.0,2.0,False,Computação
tic18Py06298,25,2,0,90.0,NaN,False,Engenheiro
tic18Py02393,30,2,0,80.0,NaN,False,Engenheiro
tic18Py04189,35,3,1,100.0,4.0,False,Computação

### Exercício 4: Trabalhando com MultiIndex

In [7]:
import pandas as pd

idade_series = [29, 33, 25,30,35,29, 23, 24, 29, 23, 24, 23, 24, 24, 27, 23, 22, 24]
formação_series = [3, 3, 2, 2, 3, 3, 2, 2, 3, 2, 3, 2, 2, 2, 1, 1, 1, 2]
formaçãoGeral_series = [1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0]
formaçãoEspecífica_series = ["Análise e desenvolvimento  de sistemas", "Análise e desenvolvimento  de sistemas", "Engenharia Mecânica","Engenharia Mecânica", "Análise e desenvolvimento  de sistemas", "Análise e Desenvolvimento de Sistemas", "Engenharia Química", "Engenharia Química", "Engenharia Mecânica", "Engenharia Química", "Ciência da Computação", "Engenharia Elétrica", "Engenharia Química", "Engenharia Química", "Engenharia Química", "Ciência da Computação", "Ciência da Computação", "Engenharia Elétrica"]
andamentoGraduação_series = [100.0, 100.0, 90.0, 80.0, 100.0, 78, 72, 70.16, None, 80, None, 90.16, 76.94, 75.58, 81.38, 0.66, 0.66, 0.99]
tempoFormação_series = [4, 2, None,None , 4, None, None, None, 4, None, 1, None, None, None, None, None, None, None]
experiênciaPrevia_series = [True, False, False, False, False, False, False, False, False, False, True, True, True, True, True, True, True, True]


data = {
    'Idade': idade_series,
    'Formação': formação_series,
    'Formação Geral': formaçãoGeral_series,
    'Formação Específica': formaçãoEspecífica_series,
    'Andamento Graduação': andamentoGraduação_series,
    'Tempo Formado (anos)': tempoFormação_series,
    'Experiência Prévia': experiênciaPrevia_series
}

df = pd.DataFrame(data)

trilhas = {
    "Python": ["tic18Py02594", "tic18Py04790", "tic18Py06298", "tic18Py02393", "tic18Py04189","tic18Py06894", "tic18Py06200", "tic18Py86399", "tic18Py05594", "tic18Py05800"],
    ".Net": ["tic18Py06799", "tic18Py07100", "tic18Py07799", "tic18Py08099", "tic18Py05996"],
    "Java": ["tic18Py08200", "tic18Py86001", "tic18Py05999"]
}

# Criando o MultiIndex corretamente
multi_index = pd.MultiIndex.from_tuples([(trilha, identificador) for trilha, ids in trilhas.items() for identificador in ids],
                                        names=["Trilha", "Identificador"])

df.set_index(multi_index, inplace=True)

# Extraindo informações do DataFrame com MultiIndex
print("Perfil dos alunos da residência:")
print(df)

# Agrupando por trilha e extraindo informações
for trilha, dados in df.groupby(level="Trilha"):
    print(f"\nPerfil dos alunos da trilha {trilha}:")
    print(dados)

Perfil dos alunos da residência:
                      Idade  Formação  Formação Geral  \
Trilha Identificador
Python tic18Py02594      29         3               1
       tic18Py04790      33         3               1
       tic18Py06298      25         2               0
       tic18Py02393      30         2               0
       tic18Py04189      35         3               1
       tic18Py06894      29         3               1
       tic18Py06200      23         2               0
       tic18Py86399      24         2               0
       tic18Py05594      29         3               0
       tic18Py05800      23         2               0
.Net   tic18Py06799      24         3               1
       tic18Py07100      23         2               0
       tic18Py07799      24         2               0
       tic18Py08099      24         2               0
       tic18Py05996      27         1               0
Java   tic18Py08200      23         1               1
       tic18Py86001      22         1               1
       tic18Py05999      24         2               0

                                         Formação Específica  \
Trilha Identificador
Python tic18Py02594   Análise e desenvolvimento  de sistemas
       tic18Py04790   Análise e desenvolvimento  de sistemas
       tic18Py06298                      Engenharia Mecânica
       tic18Py02393                      Engenharia Mecânica
       tic18Py04189   Análise e desenvolvimento  de sistemas
       tic18Py06894    Análise e Desenvolvimento de Sistemas
       tic18Py06200                       Engenharia Química
       tic18Py86399                       Engenharia Química
       tic18Py05594                      Engenharia Mecânica
       tic18Py05800                       Engenharia Química
.Net   tic18Py06799                    Ciência da Computação
       tic18Py07100                      Engenharia Elétrica
       tic18Py07799                       Engenharia Química
       tic18Py08099                       Engenharia Química
       tic18Py05996                       Engenharia Química
Java   tic18Py08200                    Ciência da Computação
       tic18Py86001                    Ciência da Computação
       tic18Py05999                      Engenharia Elétrica

                      Andamento Graduação  Tempo Formado (anos)  \
Trilha Identificador
Python tic18Py02594                100.00                   4.0
       tic18Py04790                100.00                   2.0
       tic18Py06298                 90.00                   NaN
       tic18Py02393                 80.00                   NaN
       tic18Py04189                100.00                   4.0
       tic18Py06894                 78.00                   NaN
       tic18Py06200                 72.00                   NaN
       tic18Py86399                 70.16                   NaN
       tic18Py05594                   NaN                   4.0
       tic18Py05800                 80.00                   NaN
.Net   tic18Py06799                   NaN                   1.0
       tic18Py07100                 90.16                   NaN
       tic18Py07799                 76.94                   NaN
       tic18Py08099                 75.58                   NaN
       tic18Py05996                 81.38                   NaN
Java   tic18Py08200                  0.66                   NaN
       tic18Py86001                  0.66                   NaN
       tic18Py05999                  0.99                   NaN

                      Experiência Prévia
Trilha Identificador
Python tic18Py02594                 True
       tic18Py04790                False
       tic18Py06298                False
       tic18Py02393                False
       tic18Py04189                False
       tic18Py06894                False
       tic18Py06200                False
       tic18Py86399                False
       tic18Py05594                False
       tic18Py05800                False
.Net   tic18Py06799                 True
       tic18Py07100                 True
       tic18Py07799                 True
       tic18Py08099                 True
       tic18Py05996                 True
Java   tic18Py08200                 True
       tic18Py86001                 True
       tic18Py05999                 True

Perfil dos alunos da trilha .Net:
                      Idade  Formação  Formação Geral    Formação Específica  \
Trilha Identificador
.Net   tic18Py06799      24         3               1  Ciência da Computação
       tic18Py07100      23         2               0    Engenharia Elétrica
       tic18Py07799      24         2               0     Engenharia Química
       tic18Py08099      24         2               0     Engenharia Química
       tic18Py05996      27         1               0     Engenharia Química

                      Andamento Graduação  Tempo Formado (anos)  \
Trilha Identificador
.Net   tic18Py06799                   NaN                   1.0
       tic18Py07100                 90.16                   NaN
       tic18Py07799                 76.94                   NaN
       tic18Py08099                 75.58                   NaN
       tic18Py05996                 81.38                   NaN

                      Experiência Prévia
Trilha Identificador
.Net   tic18Py06799                 True
       tic18Py07100                 True
       tic18Py07799                 True
       tic18Py08099                 True
       tic18Py05996                 True

Perfil dos alunos da trilha Java:
                      Idade  Formação  Formação Geral    Formação Específica  \
Trilha Identificador
Java   tic18Py08200      23         1               1  Ciência da Computação
       tic18Py86001      22         1               1  Ciência da Computação
       tic18Py05999      24         2               0    Engenharia Elétrica

                      Andamento Graduação  Tempo Formado (anos)  \
Trilha Identificador
Java   tic18Py08200                  0.66                   NaN
       tic18Py86001                  0.66                   NaN
       tic18Py05999                  0.99                   NaN

                      Experiência Prévia
Trilha Identificador
Java   tic18Py08200                 True
       tic18Py86001                 True
       tic18Py05999                 True

Perfil dos alunos da trilha Python:
                      Idade  Formação  Formação Geral  \
Trilha Identificador
Python tic18Py02594      29         3               1
       tic18Py04790      33         3               1
       tic18Py06298      25         2               0
       tic18Py02393      30         2               0
       tic18Py04189      35         3               1
       tic18Py06894      29         3               1
       tic18Py06200      23         2               0
       tic18Py86399      24         2               0
       tic18Py05594      29         3               0
       tic18Py05800      23         2               0

                                         Formação Específica  \
Trilha Identificador
Python tic18Py02594   Análise e desenvolvimento  de sistemas
       tic18Py04790   Análise e desenvolvimento  de sistemas
       tic18Py06298                      Engenharia Mecânica
       tic18Py02393                      Engenharia Mecânica
       tic18Py04189   Análise e desenvolvimento  de sistemas
       tic18Py06894    Análise e Desenvolvimento de Sistemas
       tic18Py06200                       Engenharia Química
       tic18Py86399                       Engenharia Química
       tic18Py05594                      Engenharia Mecânica
       tic18Py05800                       Engenharia Química

                      Andamento Graduação  Tempo Formado (anos)  \
Trilha Identificador
Python tic18Py02594                100.00                   4.0
       tic18Py04790                100.00                   2.0
       tic18Py06298                 90.00                   NaN
       tic18Py02393                 80.00                   NaN
       tic18Py04189                100.00                   4.0
       tic18Py06894                 78.00                   NaN
       tic18Py06200                 72.00                   NaN
       tic18Py86399                 70.16                   NaN
       tic18Py05594                   NaN                   4.0
       tic18Py05800                 80.00                   NaN

                      Experiência Prévia
Trilha Identificador
Python tic18Py02594                 True
       tic18Py04790                False
       tic18Py06298                False
       tic18Py02393                False
       tic18Py04189                False
       tic18Py06894                False
       tic18Py06200                False
       tic18Py86399                False
       tic18Py05594                False
       tic18Py05800                False