Exercício 1: Criando um conjunto de dados

In [15]:
import pandas as pd

Nome = ["Eduardo","Nairan", "Arthur","Thiago","Ricardo" ]
identificador = ["tic18Py02594", "tic18Py04790", "tic18Py06298", "tic18Py02393", "tic18Py04189"]
idade = [29, 33, 25,30,35]
formação = [3, 3, 2, 2, 3]
formaçãoGeral = [1, 1, 0, 0, 1]
formaçãoEspecífica = ["Análise e desenvolvimento  de sistemas", "Análise e desenvolvimento  de sistemas", "Engenharia Mecânica","Engenharia Mecânica", "Análise e desenvolvimento  de sistemas" ]
andamentoGraduação = [100.0, 100.0, 90.0, 80.0, 100.0]
tempoFormação = [4, 2, None,None , 4]
experiênciaPrevia = [True, False, False, False, False]


df = pd.DataFrame({
    "Nome": Nome,
    "identificador": identificador,
    "idade": idade,
    "formação": formação,
    "formaçãoGeral": formaçãoGeral,
    "formaçãoEspecífica": formaçãoEspecífica,
    "andamentoGraduação": andamentoGraduação,
    "tempoFormação": tempoFormação,
    "experiênciaPrevia": experiênciaPrevia
})

df.head()

,Nome,identificador,idade,formação,formaçãoGeral,formaçãoEspecífica,andamentoGraduação,tempoFormação,experiênciaPrevia
0,Eduardo,tic18Py02594,29,3,1,Análise e desenvolvimento de sistemas,100.0,4.0,True
1,Nairan,tic18Py04790,33,3,1,Análise e desenvolvimento de sistemas,100.0,2.0,False
2,Arthur,tic18Py06298,25,2,0,Engenharia Mecânica,90.0,NaN,False
3,Thiago,tic18Py02393,30,2,0,Engenharia Mecânica,80.0,NaN,False
4,Ricardo,tic18Py04189,35,3,1,Análise e desenvolvimento de sistemas,100.0,4.0,False

Exercício 2: Trabalhando com Series

In [26]:
import numpy as np
import pandas as pd

identificador_index = pd.Index(identificador)

idade_series = pd.Series(idade, index=identificador_index, name='idade')
formacao_series = pd.Series(formação, index=identificador_index, name='formação')
formacaoGeral_series = pd.Series(formaçãoGeral, index=identificador_index, name='formaçãoGeral')
andamentoGraduacao_series = pd.Series(andamentoGraduação, index=identificador_index, name='andamentoGraduação')
tempoFormacao_series = pd.Series(tempoFormação, index=identificador_index, name='tempoFormação')
experienciaPrevia_series = pd.Series(experiênciaPrevia, index=identificador_index, name='experiênciaPrevia')

# Idade média
idade_media = idade_series.mean()

# Membros mais jovens
membros_mais_jovens = idade_series.idxmin()

# Membros mais velhos
membros_mais_velhos = idade_series.idxmax()

print(f"Idade média dos membros da equipe: {idade_media:.2f} anos")
print(f"Membros mais jovens: {membros_mais_jovens}")
print(f"Membros mais velhos: {membros_mais_velhos}")

# Verificar o perfil de formação
print("")
perfil_formacao = formacao_series.value_counts()

print("Perfil de formação dos membros da equipe:")
print(perfil_formacao)

# Verificar o perfil de formação geral
perfil_formacao_geral = formacaoGeral_series.map({0: 'Engenheiro', 1: 'Computação'})

# Contar a quantidade de engenheiros e graduados em computação
contagem_formacao_geral = perfil_formacao_geral.value_counts()

print("")
print("Perfil de formação geral dos membros da equipe:")
print(contagem_formacao_geral)

Idade média dos membros da equipe: 30.40 anos
Membros mais jovens: tic18Py06298
Membros mais velhos: tic18Py04189

Perfil de formação dos membros da equipe:
formação
3    3
2    2
Name: count, dtype: int64

Perfil de formação geral dos membros da equipe:
formaçãoGeral
Computação    3
Engenheiro    2
Name: count, dtype: int64

Exercício 3: Trabalhando com DataFrames

In [34]:
# Criar DataFrame
df_info = pd.DataFrame({
    "idade": idade_series,
    "formação": formacao_series,
    "formaçãoGeral": formacaoGeral_series,
    "andamentoGraduação": andamentoGraduacao_series,
    "tempoFormação": tempoFormacao_series,
    "experiênciaPrevia": experienciaPrevia_series
})

# Idade média, membros mais jovens e mais velhos
idade_media_df = df_info['idade'].mean()
membros_mais_jovens_df = df_info['idade'].idxmin()
membros_mais_velhos_df = df_info['idade'].idxmax()

print(f"Idade média dos membros da equipe (usando DataFrame): {idade_media_df:.2f} anos")
print(f"Membros mais jovens (usando DataFrame): {membros_mais_jovens_df}")
print(f"Membros mais velhos (usando DataFrame): {membros_mais_velhos_df}")

# Perfil de formação
perfil_formacao_df = df_info['formação'].value_counts()

print("")
print("Perfil de formação dos membros da equipe (usando DataFrame):")
print(perfil_formacao_df)

# Perfil de formação geral
perfil_formacao_geral_df = df_info['formaçãoGeral'].map({0: 'Engenheiro', 1: 'Computação'}).value_counts()

print("")
print("Perfil de formação geral dos membros da equipe (usando DataFrame):")
print(perfil_formacao_geral_df)


# Verificar os rótulos únicos na coluna de formação específica
rotulos_unicos = df['formaçãoEspecífica'].unique()

# Exibir os rótulos únicos 
print("")
print("Rótulos únicos na coluna 'formaçãoEspecífica':")
print(rotulos_unicos)


# Adicionar a coluna 'formaçãoEspecífica' ao DataFrame df_info
df_info['formaçãoEspecífica'] = formaçãoEspecífica

# Estratégia para tratar a coluna 'formaçãoEspecífica'
categorias_formacao_especifica = {
    'Análise e desenvolvimento de sistemas': 'Computação',
    'Engenharia Mecânica': 'Engenheiro'
    # Adicione mais mapeamentos conforme necessário
}

# Aplicar mapeamento aos dados
df_info['formaçãoEspecífica'] = df_info['formaçãoEspecífica'].map(categorias_formacao_especifica)

# Exibir o DataFrame atualizado
df_info.head()

Idade média dos membros da equipe (usando DataFrame): 30.40 anos
Membros mais jovens (usando DataFrame): tic18Py06298
Membros mais velhos (usando DataFrame): tic18Py04189

Perfil de formação dos membros da equipe (usando DataFrame):
formação
3    3
2    2
Name: count, dtype: int64

Perfil de formação geral dos membros da equipe (usando DataFrame):
formaçãoGeral
Computação    3
Engenheiro    2
Name: count, dtype: int64

Rótulos únicos na coluna 'formaçãoEspecífica':
['Análise e desenvolvimento  de sistemas' 'Engenharia Mecânica']

,idade,formação,formaçãoGeral,andamentoGraduação,tempoFormação,experiênciaPrevia,formaçãoEspecífica
tic18Py02594,29,3,1,100.0,4.0,True,NaN
tic18Py04790,33,3,1,100.0,2.0,False,NaN
tic18Py06298,25,2,0,90.0,NaN,False,Engenheiro
tic18Py02393,30,2,0,80.0,NaN,False,Engenheiro
tic18Py04189,35,3,1,100.0,4.0,False,NaN

In [ ]:
Exercício 4: Trabalhando com MultiIndex

In [42]:
# Criar MultiIndex
trilhas = ['Python', '.Net', 'Java']
multi_index = pd.MultiIndex.from_product([trilhas, identificador], names=['Trilha', 'Identificador'])

# Criar DataFrame com MultiIndex
df_multi = pd.DataFrame(index=multi_index)

# Adicionar colunas ao DataFrame df_multi
df_multi['idade'] = idade_series
df_multi['formação'] = formacao_series
df_multi['formaçãoGeral'] = formacaoGeral_series
df_multi['andamentoGraduação'] = andamentoGraduacao_series
df_multi['tempoFormação'] = tempoFormacao_series
df_multi['experiênciaPrevia'] = experienciaPrevia_series
df_multi['formaçãoEspecífica'] = df_info['formaçãoEspecífica']  # Usar diretamente do df_info

# Exibir o DataFrame com MultiIndex
df_multi.head()





# Idade média por trilha
idade_media_trilha = df_multi.groupby('Trilha')['idade'].mean()

# Membros mais jovens por trilha
membros_mais_jovens_trilha = df_multi.groupby('Trilha')['idade'].idxmin()

# Membros mais velhos por trilha
membros_mais_velhos_trilha = df_multi.groupby('Trilha')['idade'].idxmax()

print("Idade média por trilha:")
print(idade_media_trilha)
print("\nMembros mais jovens por trilha:")
print(membros_mais_jovens_trilha)
print("\nMembros mais velhos por trilha:")
print(membros_mais_velhos_trilha)

# Perfil de formação por trilha
perfil_formacao_trilha = df_multi.groupby(['Trilha', 'formação']).size()

print("Perfil de formação por trilha:")
print(perfil_formacao_trilha)

# Perfil de formação geral por trilha
perfil_formacao_geral_trilha = df_multi.groupby(['Trilha', 'formaçãoGeral']).size()

print("Perfil de formação geral por trilha:")
print(perfil_formacao_geral_trilha)

Idade média por trilha:
Trilha
.Net     NaN
Java     NaN
Python   NaN
Name: idade, dtype: float64

Membros mais jovens por trilha:
Trilha
.Net     NaN
Java     NaN
Python   NaN
Name: idade, dtype: float64

Membros mais velhos por trilha:
Trilha
.Net     NaN
Java     NaN
Python   NaN
Name: idade, dtype: float64
Perfil de formação por trilha:
Series([], dtype: int64)
Perfil de formação geral por trilha:
Series([], dtype: int64)