Exercício 1: Criando um conjunto de dados

In [1]:
import pandas as pd

identificador = ["tic18Py06472", "tic18Py07456", "tic18Py08432"]
idade = [23, 22, 21]
formação = [1, 3, 0]
formaçãoGeral = [1, 0, 1]
formaçãoEspecífica = ["Engenharia de Software", None, "Ciência da Computação"]
andamentoGraduação = [80.0, 100.0, None]
tempoFormação = [2, None, None]
experiênciaPrevia = [True, False, False]


df = pd.DataFrame({
    "identificador": identificador,
    "idade": idade,
    "formação": formação,
    "formaçãoGeral": formaçãoGeral,
    "formaçãoEspecífica": formaçãoEspecífica,
    "andamentoGraduação": andamentoGraduação,
    "tempoFormação": tempoFormação,
    "experiênciaPrevia": experiênciaPrevia
})

df.head()

,identificador,idade,formação,formaçãoGeral,formaçãoEspecífica,andamentoGraduação,tempoFormação,experiênciaPrevia
0,tic18Py06472,23,1,1,Engenharia de Software,80.0,2.0,True
1,tic18Py07456,22,3,0,None,100.0,NaN,False
2,tic18Py08432,21,0,1,Ciência da Computação,NaN,NaN,False

Exercício 2: Trabalhando com Series

In [4]:
import pandas as pd

identificador = ["tic18Py06472", "tic18Py07456", "tic18Py08432"]
index = pd.Index(identificador)

idade = pd.Series(idade, index=index)
formação = pd.Series(formação, index=index)
formaçãoGeral = pd.Series(formaçãoGeral, index=index)
formaçãoEspecífica = pd.Series(formaçãoEspecífica, index=index)
andamentoGraduação = pd.Series(andamentoGraduação, index=index)
tempoFormação = pd.Series(tempoFormação, index=index)
experiênciaPrevia = pd.Series(experiênciaPrevia, index=index)

idade.mean()
idade.min()
idade.max()
formação.value_counts()
formaçãoGeral.value_counts()

1    2
0    1
Name: count, dtype: int64

In [11]:
import pandas as pd

identificador = ["tic18Py06472", "tic18Py07456", "tic18Py08432"]
idade = [23, 22, 21]
formação = [1, 3, 0]
formaçãoGeral = [1, 0, 1]
formaçãoEspecífica = ["Engenharia de Software", None, "Ciência da Computação"]
andamentoGraduação = [80.0, 100.0, None]
tempoFormação = [2, None, None]
experiênciaPrevia = [True, False, False]

df = pd.DataFrame({
    "identificador": identificador,
    "idade": idade,
    "formação": formação,
    "formaçãoGeral": formaçãoGeral,
    "formaçãoEspecífica": formaçãoEspecífica,
    "andamentoGraduação": andamentoGraduação,
    "tempoFormação": tempoFormação,
    "experiênciaPrevia": experiênciaPrevia
})

df["idade"].mean()

df["idade"].min(), df["idade"].max()

df["formação"].value_counts()

df["formaçãoGeral"].value_counts()

rotulos = set(df["formaçãoEspecífica"].dropna())

def padronizar_rotulo(rotulo):
    if rotulo == "Engenharia de Software":
        return "Engenharia de Software"
    elif rotulo == "Ciência da Computação":
        return "Ciência da Computação"
    else:
        return "Outro"

df["formaçãoEspecífica"] = df["formaçãoEspecífica"].apply(padronizar_rotulo)

exercício 3: Trabalhando com MultiIndex

In [12]:
import pandas as pd

identificador = ["tic18Py06472", "tic18Py07456", "tic18Py08432"]
idade = [23, 22, 21]
formação = [1, 3, 0]
formaçãoGeral = [1, 0, 1]
formaçãoEspecífica = ["Engenharia de Software", None, "Ciência da Computação"]
andamentoGraduação = [80.0, 100.0, None]
tempoFormação = [2, None, None]
experiênciaPrevia = [True, False, False]

trilha = ["Python", ".Net", "Java"]

df = pd.DataFrame({
    "identificador": identificador,
    "idade": idade,
    "formação": formação,
    "formaçãoGeral": formaçãoGeral,
    "formaçãoEspecífica": formaçãoEspecífica,
    "andamentoGraduação": andamentoGraduação,
    "tempoFormação": tempoFormação,
    "experiênciaPrevia": experiênciaPrevia
}, index=pd.MultiIndex.from_tuples([(identificador[i], trilha[i]) for i in range(len(identificador))], names=["identificador", "trilha"]))

df.groupby("trilha")["idade"].mean()

df.groupby("trilha")["idade"].min(), df.groupby("trilha")["idade"].max()

df.groupby("trilha")["formação"].value_counts()

df.groupby("trilha")["formaçãoGeral"].value_counts()

trilha  formaçãoGeral
.Net    0                1
Java    1                1
Python  1                1
Name: count, dtype: int64